@page "/dashboard"
@inject HttpClient http

<PageTitle>Dashboard</PageTitle>

<h1>Dashboard</h1>

<p role="status">Current count: @currentCount</p>

@*@if (id == null)
{
    <p>Id not fetched</p>
}
else
{
    <p>Current Id: "@id"</p>
}*@

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    //private string? id;

    private void IncrementCount()
    {
        //try
        //{
        //    Uri uri = new Uri("http://localhost:5236/volunteer/2w0w2yrlIkKkVWOuU64ipA");
        //    var volunteer = await http.GetFromJsonAsync<VolunteerDetails>(uri);
        //    id = volunteer.Id;
        //}
        //catch(Exception e)
        //{
        //    id = e.ToString();
        //}
        currentCount++;
    }
}
