@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello to SaveAnAnimal website!</h1>

<ul>
    <li>
        <p>To see our pets, visit the <NavLink href="/pets"><strong>PETS</strong></NavLink> page.</p>
    </li>
    <li>
        <p>To see our volunteers, visit the <NavLink href="/volunteers"><strong>VOLUNTEERS</strong></NavLink> page.</p>
    </li>
</ul>
