@page "/volunteer/{id:guid}"
@using SaveAnAnimal.ApiClient
@using SaveAnAnimal.ApiClient.Models

@inject SaveAnAnimalClient client

<h3>Volunteer details</h3>

@if (volunteer is null)
{
	@if(isFound)
	{
		<p>Loading...</p>
	}
	else
	{
		<p>Not found</p>
	}
}
else
{
    <p>Name: @volunteer.FullName</p>
    <p>Email: @volunteer.Email</p>
    <p>City: @volunteer.City</p>
}

@code {
	[Parameter]
	public Guid Id { get; set; }

	private Volunteer? volunteer { get; set; }

	private bool isFound = true;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			volunteer = await client.GetVolunteerAsync(Id);
			isFound = volunteer is not null;
		}
		catch(FormatException)
		{
			isFound = false;
		}
	}
}
